// Specific CSS for your home-page

.container-search {
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin: 50px;
  padding: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-around;
}

.searchbar_cards {
  background-size: cover;
  background-position: center;
  color: white;
  height: 150px;
  border-radius: 1px;
  box-shadow: #1C6CA7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  color: #1C6CA7;
  font-weight: bolder;
}

#city {
  color: white;
}

#dates {
  color: white;
}

#guests {
  color: white;
}

.search-form-control {
  position: align;
}

.btn {
  background-color: #1C6CA7;
  color: white;
}
