<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
</nav>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500917832468-298fa6292e2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);">
  <div class="container">
    <h1> <strong>BoatsForFriends</strong> - A boat rental service for nature lovers </h1>
    <p> Discover pure nature with different boats: kayak, sailing or speed boat! </p>
    <%= link_to "Discover Boats", boats_path, class:"btn" %>
  </div>

<div class=container-search>
  <div class="searchbar_cards">

  <div class="boxes" id="city">
    <div class="description">City</div>
    <input placeholder="Your preferred water?" value="">
  </label>
  </div>

<div class="boxes" id="dates">
  <div class="description">Dates</div>
    <input placeholder="Arrival" class=datepicker type=string>
    <input placeholder="Leaving" class=datepicker id=secondRangeInput type=string>
    </label>
</div>

<div class="boxes" id="guests">
    <div class="description">Guests</div>
    <input placeholder="How many pirates?" value="">
  </label>
</div>

<%= link_to "Search", boats_path, class:"btn" %>

</div>
</div>
</div>


<!-- <div class="text-center pt-3">
  <footer> This app was coded by Frederike, Nain, Max and Peter with <3 </footer>
</div>
 -->


<!-- group #2 - Frontend kick-start:

Work on a clean layout with navbar/footer
Build a simple, attractive home page. -->
