<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1448518184296-a22facb4446f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1> <strong>BoatsToRent</strong> - A boat rental service for nature lovers </h1>
    <p> Discover pure nature with different boats: kayak, sailing or speed boat! </p>
    <%= link_to "Discover Boats", boats_path, class:"btn btn-danger" %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app was coded by Frederike, Max, Nain and Peter with <i class="fas fa-heart"></i> at Le Wagon, Batch #398
  </div>
</div>


<!-- <div class="text-center pt-3">
  <footer> This app was coded by Frederike, Nain, Max and Peter with <3 </footer>
</div>
 -->


<!-- group #2 - Frontend kick-start:

Work on a clean layout with navbar/footer
Build a simple, attractive home page. -->
