.navbar .navbar-expand-sm .navbar-light .navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon {
  color: black;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#rent {
  background-color: #1C6CA7;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
