<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <div class="banner-content">
    <h1>Boats to rent</h1>
    <p>Amazing boats for a great summer experience</p>

  </div>
  <div>
    <table class="table table-bordered">
      <tbody>
        <thead>
          <th>City</th>
          <th>Description</th>
          <th>Category</th>
          <th>Number of People</th>
        </thead>
        <% @boats.each do |boat| %>
            <tr>
              <td><%= boat.city %></td>
              <td class="text-decoration-none" ><%= link_to"#{boat.description}", boat_path(boat) %></td>
              <td><%= boat.category %></td>
              <td><%= boat.number_of_people %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



