<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484291470158-b8f8d608850d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Boats to rent</h1>
    <p>Amazing boats for a great summer experience</p>
  </div>
</div>


  <div class="cards">
    <% @boats.each do |boat| %>
      <div class="cardi">
    <!--       <li><%= boat.city %></li> -->
        <%= link_to "#{boat.description}", boat_path(boat) %>
    <!--       <li><%= boat.category %></li>
          <li><%= boat.number_of_people %></li> -->
      </div>
    <% end %>
  </div>


