<div class="new-boat-page">
  <div class="new-boat-page-left">
    <h1>Let’s get started listing your boat.</h1>
    <%= render "form", boat: @boat %>
  </div>
  <div class="new-boat-page-right">
    <%= image_tag "new_boat.jpg", alt: "boat", width: 200 %>
  </div>
</div>
